@page "/fetchdata"

@using Member.Model
@using Member.Service
@using Member.Data
@inject IAppService  AppService;


@if (Student == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>AccessToken</th>
				<th>RefreshToken</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Student.firstName</td>
				<td>@Student.lastName</td>
				<td>@Student.email</td>
				<td>@Setting.UserBasicDetail.AccessToken</td>
				<td>@Setting.UserBasicDetail.RefreshToken</td>
			</tr>
		</tbody>
	</table>
}

@code 
{
	private StudentModel Student;

	protected override async Task OnInitializedAsync()
	{
		Student = await AppService.UserProfile();
	}
}